@tailwind base;
@tailwind components;

.header-bg {
  background: linear-gradient(135deg,#409cff 0%,#9f79ea 100%);
}

.header-bg-lg {
  background: transparent;
}

.header-bg-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

@screen lg {
  .header-bg {
    background: transparent;
  }
  
  .header-bg-lg {
    background: linear-gradient(135deg,#409cff 0%,#9f79ea 100%);
    min-height: 700px;
  }
}

.menu-btn {
  @apply block px-2 py-1 text-blue-100 rounded-lg cursor-pointer;
  
  &:hover {
    @apply bg-blue-800;
  }
}

.active.menu-btn {
  @apply text-white bg-blue-700;
}

.shadow-strong {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.25);
}

@keyframes beatHeart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.beating {
  -webkit-animation: .8s infinite beatHeart;
          animation: .8s infinite beatHeart;
}

.zoom-slider {
  @apply rounded-lg;    
}

@tailwind utilities;